body
{
    font-family: Arial;
    height: 800px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

/* Header CSS */

.header
{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(199, 199, 199);
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 10;
}

.left
{
    margin-left: 16px;
    min-width: 600px;
}

.header-logo-1
{
    width: 50px;
    margin-right: 15px;
    margin-left: 10px;
}

.header-logo-2
{
    width: 200px;
    margin-right: 15px;
}

.header-logo-3
{
    width: 100px;
    margin-right: 15px;
}

.header-logo-4
{
    width: 100px;
    margin-right: 15px;
}

.middle
{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
    margin-top: 8px;
    max-width: 700px;
}

.middle-search
{
    height: 35px;
    color: white;
    background-color: #4CAF50;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 0;
    cursor: pointer;
    width: 70px;
}

.middle-input
{
    height: 35px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-style: solid;
    border-color: #4CAF50;
}


.middle-input::placeholder
{
    font-weight: bold;
    color: black;

}

.right
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    margin-left: 210px;
}

.right-options
{
    display: absolute;
}

.right-about, .right-services, .right-contact, .right-subscribe
{
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 7px 12px;
    border-radius: 100px;
}

.right-about:hover, .right-services:hover, .right-contact:hover, .right-subscribe:hover
{
    background-color: #4CAF50;
    color: white;
}

/* Sidebar CSS */

.sidebar{
    width:101px;
    position: fixed;
    background-color: rgb(199, 199, 199);
    color:rgb(0, 0, 0);
    bottom:0;
    left:0;
    top:80px;
    z-index: 100;
    border:solid;
    border-color:rgb(199, 199, 199);
}

.sidebar-icon{
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    cursor: pointer;
    margin-bottom: -8px;
}

.sidebar-icon:hover{
    background-color: white;
}

.sidebar img{
    height: 45px;
}

.sidebar div{
    margin-top:8px;
    font-family: Arial;
    font-size: 16px;
}

.sidebar-icon2{
    /* background-color: rgb(199, 199, 199); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    cursor: pointer;
}

.sidebar-img{
    mix-blend-mode: multiply;
}

.profile-img{
    width: 50px;
    object-fit: cover;

}

.logout-img{
    object-fit: contain;
}

.sidebar-atag{
    color: black;
    text-decoration: none;
}

.sidebar-icon2:hover{
    background-color: white;
    color: red;
}

/* Background image */

.background{
    margin-top: -60px;
    position: absolute;
    z-index: 0;
}

.background-image{
    border: solid;
    height: 900px;
}

/* Main Content */

.main
{
    position: relative;
    z-index: 9;
    margin-top: 120px;
    margin-left: 134px;
}

.top{
    margin-left: 550px;
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 50px;
    width: 370px;
}

.top:hover{
    color: #63e468;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    row-gap: 80px;
}

.linka{
    color: black;
    width: 302px;
}

.add-criminal{
    background-color: rgb(226, 226, 226);
    display: inline-block;
    border-color: black;
    border: solid;
    width: 300px;
    border-width: 2px;
    height: 100px;
    transition: all,0.5ms;
    border-radius: 30px;
    padding-left: 10px;
    cursor: pointer;
    margin-right: 90px;
    box-shadow: 0px 0px 1px 0px #7ca67c;
}

.add-criminal:hover{
    box-shadow: 0px 2px 30px 1px #c9c9c9;
}

.div-text{
    margin-left: 6px;
    margin-top: 18px;
    font-size: 20px;
    color:black;
}

.div-second-text{
    margin-left: 6px;
    margin-top: 0px;
    font-size: 16px;
    color: rgb(120, 120, 120);
}